@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  }
}

.dropdown-link {
  @apply p-2 px-5 rounded-md hover:bg-blue-600 hover:text-white hover:duration-500;
}

@layer components {
  .dropdown:hover .dropdown-content {
    display: flex;
    transition: all ease-out 1s;
  }
}

@layer components {
  .why-choose-us-icons {
    width: 100%;
    overflow: hidden;
    gap: 1rem;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)) !important;
  }

  .top-most-destinations {
    width: 100%;
    gap: 1px;
    overflow: hidden;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)) !important;
  }

  .safari-listings {
    width: 100%;
    row-gap: 1rem;
    overflow: hidden;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)) !important;
  }


  .mySwiper {
    width: 100%;
    overflow: hidden;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)) !important;
  }

  .mySwiper-rev {
    width: 100%;
    overflow: hidden;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)) !important;
  }

  .recent-activities article {
    width: 100%;
    overflow: hidden;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)) !important;
  }

  .memberships article {
    width: 100%;
    overflow: hidden;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
  }

  /* SAFARI PAGE */
  .main-section-wrapper {
    max-width: 1200px;
    width: 100%;
  }

  .main-bg {
    background-color: #242424;
  }

  .main-bg:after {
    background: url(https://plus.unsplash.com/premium_photo-1664301461045-0cc0eb0de316?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat;
    background-position: center;
    animation: kbrns_zoomInOut 15s linear 0s infinite alternate;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
  }

  @keyframes kbrns_zoomInOut {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.2);
    }
  }

  @media screen and (max-width: 768px) {

    .aside-wrapper {
      flex-direction: column !important;
    }
  }

  @media screen and (min-width: 906px) {

    .accordion {
      width: 600px !important;
    }
  }

  /* SAFARI PAGE */
  @media screen and (min-width: 1200px) {

    .recent-activities article {
      width: 1200px !important;
    }
  }


  .footer-wrapper {
    width: 100%;
    gap: 2rem;
    overflow: hidden;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
  }

  .slider-parent {
    width: 100%;
    overflow: hidden;
  }

  .slider-parent article,
  .reviews article,
  .memberships article {
    max-width: 1200px;
    width: 100%;
  }

  .mySwiper-rev {
    width: 100%;
    height: 100%;
  }

  .promo-wrapper {
    max-width: 1100px;
    width: 100%;
  }

  .destination img {
    position: relative;
    transition: all 0.5s ease-in-out;
  }

  .destination:before {
    content: '';
    background: linear-gradient(to top, #000000bd, transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    z-index: 1;
  }

  .rating span::before {
    color: rgb(255, 149, 0);
  }

  .safari-img:before {
    content: "";
    background: linear-gradient(to top, #000000a3, transparent);
    height: 40%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: all ease-in-out 0.3s;

  }

  .activity-parent img {
    transition: all .5s ease-in-out;
  }

  .activity-parent img:hover {
    transform: scale(1.1);
    transition: all .5s ease-in-out;
  }

  .safari-img {
    transition: all .3s ease-in-out;
  }

  .safari-img img {
    transition: all .3s ease-in-out;
  }

  .safari-parent:hover img {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
  }

  .safari-parent:hover .safari-img:before {
    height: 100%;
    transition: all .3s ease-in-out;
  }

  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border: 5px solid #666;
  }

  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 12px 0;
    background-color: royalblue;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 16px/1;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
  }

  .ribbon-top-left {
    top: -10px;
    left: -10px;
  }

  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }

  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }

  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }

  .ribbon-top-left span {
    right: -25px;
    top: 40px;
    transform: rotate(-45deg);
  }



  @media screen and (max-width: 769px) {
    .banner-promo img {
      display: none;
    }

    .promo-text {
      width: 100% !important;
      border-radius: 15px;
    }

    .promo-text h2 {
      font-size: 40px;
      line-height: 3rem;
    }

    .promo-text p:nth-of-type(1) {
      font-size: 15px;
    }

    .promo-text p:nth-of-type(2) {
      font-size: 13px;
    }
  }

}